<p id="notice"><%= notice %></p>

   <p>
  	<strong>Usuarios:</strong>
  	<% @usuario = Usuario.joins("inner join usuarioequipos on usuarioequipos.Usuarios_id = usuarios.id").where("usuarioequipos.id = ?",params[:id]).select("nombre") %>
	<%= @usuario[0].nombre %>
   </p>

   <p>
  	<strong>Categoria equipos:</strong>
  	<% @Categoria = CategoriaEquipo.joins("inner join usuarioequipos on usuarioequipos.Categoria_equipos_id = categoria_equipos.id").where("usuarioequipos.id = ?", params[:id]).select("categoria_equipos.nombre") %>
	 <%= @Categoria[0].nombre %>
   </p>

<%= link_to 'Edit', edit_usuarioequipo_path(@usuarioequipo) %> |
<%= link_to 'Back', usuarioequipos_path %>
